* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  width: 100%;
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  font-family: Okra, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  margin-top: 100px;
  height: 550px;
  width: 450px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: Okra, Helvetica, sans-serif;
}
.c1 {
  height: 40px;
  width: 100%;
  font-size: 30px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;

  color: #4f4f4f;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 10px 0px;
}
.x {
  width: 80%;
  margin: 5px;
  height: 40px;
  font-size: 20px;
}
.c3 {
  width: 80%;
  height: 20px;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 20px;
  color: #4f4f4f;
}
.btn1 {
  margin: 20px 45px 10px 45px;
  width: 80%;
  height: 45px;
  border-color: transparent;
  background-color: red;
  opacity: 0.5;
  color: white;
  border-radius: 10px;
}
.btn2 {
  margin: 20px 45px 10px 45px;
  width: 80%;
  height: 45px;
  border-color: transparent;
  background-color: white;
  color: grey;
  border-radius: 10px;
  font-size: medium;
  display: flex;
  justify-content: center;
}
.last {
  margin: auto;
  font-family: Okra, Helvetica, sans-serif;
  font-size: large;
  opacity: 0.8;
  margin-left: 55px;
}
